body {
    font-family: Arial, sans-serif;
    font-size:18pt ;
    color: #31304D;
    background-color: #FEF9E7  ;
    
}

#calculator {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #31304D;
    border-radius: 20px;
    background: rgba(178, 248, 2, 0);
    height: 864px;
}
#gender{
    font-size:18px;
}
label {
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    
}

#calculateButton {
    width: 100%;
    background-color: #31304D;
    color: #EBF3E8;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#result {
    margin-top: 10px;
}
